@font-face {
	font-family: 'Bogart';
	src:  url('../assets/fonts/bogart-med.woff2') format('woff2')
  }

@font-face {
	font-family: 'Biotif';
	src:  url('../assets/fonts/biotif.woff2') format('woff2')
  }

body {
	background-color: rgb(17, 17, 17);
	padding: 0;
	margin: 0;

	font-family: 'Biotif', Fallback, 'Roboto', sans-serif;
}

section{
	/* border-top: 6px solid black; */
}

#intro{
	/* padding-top: 100px; */
	text-align: center;
	margin-bottom: auto;
}

#about{
	background-color: antiquewhite;
	
}

#projects{
	background-image: url("/assets/background.svg");
	background-image: url("../assets/background.svg");
	background-repeat: repeat;
}

#footer{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #c4c4c4;
}

.display-2{
	font-weight: 600;
}

.hero {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

#navbar {
	margin-bottom: auto;
}



.link-nav {
	padding: 20px 20px 16px;
	line-height: 1;
	font-weight: 300;
	text-decoration: none;
	color: white;

	transition: 0.1s ease 0s;
}

.nav {
	display: flex;
	justify-content: center;

	padding: 10px;
}

.nav-div {
	font-size: large;
}

.link-nav:hover{
	color: white;
	border-bottom: 0.3rem solid #DD5789;
}

#intro .name {
	font-family: 'Bogart';
	font-size: 6vw;

	background: linear-gradient(90deg, rgba(152,69,232,1) 5%, rgba(51,210,255,1) 50%, rgba(221,87,137,1) 96%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#intro .intro-info {
	color: white;
	font-size: 2vw;
}

#intro .hello {
	width: 25vw;
}

@media (max-width: 768px)
{
	#intro .hello {
		width: 50vw;
	}

	#intro .name {
		font-size: 12vw;
	}

	#intro .intro-info {
		color: white;
		font-size: 4.5vw;
	}
}

.card{
	border: 4px solid black;
	box-shadow: 8px 8px 0 0 black;
	padding-left: 0;
	padding-right: 0;
}

.card-header{
	border-bottom: 4px solid black;
	font-size: xx-large;
	font-weight: 500;
	background-color: #c4c4c4;
}

.card-footer{
	background-color: white;
	padding: 0;
}

.card-text{
	font-size: x-large
}

.find-me-icons{
	font-size: 32px;
	color: black;
	padding: 0;
}

.find-me-icons:hover{
	
	color: white;
}

.find-me-icons-top{
	font-size: 32px;
	color: #33d3ff;
	padding: 0 2px 0 2px;	
}

.find-me-icons-top:hover{
	color: #DD5789;
}

.badge{
	color: black;
	font-size: 1rem;
}

path{
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
	stroke-dashoffset: 0;
}}
